@charset "utf-8";
/* CSS Document */

/* Widget Style */
#blappsta-icon-cont {
	width:200px; 
	text-align:center; 
	margin:20px auto;
	overflow:hidden;
}

#blappsta-icon-cont .blappsta-app-img {

            
            /*border: 2px solid rgba(0, 0, 0, 0); */
           
            height: 152px;
            width: 152px; margin:auto;
			overflow:hidden;
}

#blappsta-icon-cont .blappsta-app-img img {
	/*left: -6px;
	position: relative;
	top: -6px;*/
}
#blappsta-icon-cont  .blappsta-powerd{
	text-align:right; 
	margin:10px; 
	padding-right:10px;
}

#blappsta-icon-cont .blappsta-app-img-div {
position: relative;
top: -153px;
width: 139px;
padding: 0;
margin: 0;
left: 6px;
height: 139px;
background-size: cover;
z-index: -1;
border-radius: 30px;
}