@charset "utf-8";
/* CSS Document */

/* Widget Style */
#blappsta-icon-cont {
	width:100%; 
	text-align:center; 
	margin:20px auto;
	overflow:hidden;
}

#blappsta-icon-cont .blappsta-app-img {

            
            /*border: 2px solid rgba(0, 0, 0, 0); */
           
            height: 152px;
            width: 152px; 
			margin:auto auto 10px;
			overflow:hidden;
}

#blappsta-icon-cont .blappsta-app-img img {
	/*left: -6px;
	position: relative;
	top: -6px;*/
}
#blappsta-icon-cont .blappsta-app-name {
	text-align:center; margin:10px;
}
#blappsta-icon-cont .blappsta-app-apple-store {
	margin-bottom:3px;
}
#blappsta-icon-cont  .blappsta-powerd{
	text-align:right; 
	margin:10px; 
	padding-right:10px;
}

#blappsta-icon-cont .blappsta-app-img-div {
width: 140px;
padding: 0;
margin: 0;
height: 140px;
background-size: cover;
border-radius: 30px;

}
#blappsta-icon-cont .blappsta-app-img-div2 {
	left: 5px;
    position: relative;
    top: -132px;
}
#blappsta-icon-cont .blappsta-app-img img {	
position: relative;
top: -277px;
left: 0;
z-index: 0;
}